// color 1.0
$color-primary = #226BAC;
$color-primary-s = #3083C9;
$color-primary-ss = #7FABDA;
// grey
$color-grey = #083354;
$color-light-grey = #5C6B80;
$color-light-grey-s = #A4B2C1;
$color-light-grey-ss = #D1D7DF;
$color-light-grey-sss = #EDF1F4;
// color
$color-white = #fff;
$color-pick = rgb(118, 111, 187);
$color-green = #6fa622;
$color-red = #ed5853;
$color-yellow = rgb(230, 200, 100);
$color-orange = #FFA157;

.color-red {
  color: $color-red;
}

.color-yellow {
  color: $color-yellow;
}
