.area {
  .xbs_1 {
    border: none;

    .dxb_bc {
      padding: 0px;
    }

    .title {
      color: $color-grey !important;
      background: #FFF !important;
      border: none;
    }

    .titletext {
      color: $color-grey !important;
    }
  }

  .temp {
    display: none;
  }

  .frame {
    margin-bottom: 20px !important;

    .titletext {
      font-size: 17px;
      color: $color-grey;
      line-height: 17px;
      font-weight: 500;
    }
  }

  .slidebar {
    text-align: center;
    bottom: 10px !important;
    left: 0px !important;
    right: 0px !important;
    top: auto !important;

    ul {
      margin: 0 auto;
    }

    li {
      float: none;
      display: inline-block;
      width: 13px;
      height: 13px;
      margin: 0 2px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.2);
      content: '';
      font-size: 0px;

      &.on {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }

  // 轮播
  .slideshow {
    li {
      height: 255px !important;
      width: 100% !important;
      padding-left: 0px !important;

      img {
        height: 255px !important;
        width: 100% !important;
      }

      .title {
        top: 0px !important;
        color: #FFF !important;
        background-color: rgba($color-grey, 0.6) !important;
      }
    }
  }
}

.module {
  ul {
    li {
      a, font {
      }

      height: 24px;
      line-height: 24px;
      font-size: 14px;
      padding-left: 20px !important;
    }
  }
}

.panel-super {
  border-top: 1px solid $color-light-grey-ss !important;
  padding-top: 20px;

  .title {
    padding-left: 0px;
  }

  >div {
    &:not(:first-child) {
      padding-left: 30px;
      border-left: 1px dashed $color-light-grey-ss !important;
    }
  }
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
