#hd {
  border-bottom: 0 solid #c2d5e3;
}

#hd .wp {
  padding: 10px 0 0;
}

.hdc {
  min-height: 70px;

  h2 {
    img {
      width: 300px;
    }
  }
}

.ie6 .hdc {
  height: 70px;
}

#hd h2 {
  padding: 0 20px 8px 0;
  float: left;
}

#space #hd h2 {
  margin-top: 0;
}

#hd .fastlg {
  padding-top: 10px;
}

// 用户栏
#um {
  padding-top: 25px;
  padding-right: 60px;
  _padding-right: 54px;
  line-height: 2.3;
  zoom: 1;
  color: $color-grey;
}
