
.fl {
}

.fl_tb {
  width: 100%;
}

.fl_tb td {
  padding: 10px 0;
}

.fl_icn {
  padding-right: 10px !important;
  width: 31px;
}

.fl_by {
  width: 220px;
}

.fl_by div {
  margin-left: 10px;
  width: 210px;
  padding-left: 8px;
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fl_by div .xi2 {
  zoom: 1;
}

.fl_by cite {
  display: block;
}

.fl_i {
  width: 150px;
  text-align: right;
}

.fl_i em {
  display: block;
  width: 5em;
}

.fl .i_z {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #e5e5e5;
}

.fl_icn_g {
  float: left;
  width: 31px;
}

.fl_g {
  vertical-align: top;
}

.fl_g dl {
  margin-left: 31px;
  padding-left: 10px;
}

.fl_g dt {
  font-weight: 700;
}

.fl_row td {
  border-top: 1px dashed #cdcdcd;
}

.flt {
}

.flt .flc {
  width: 294px;
}

.gcop {
  margin-right: 15px;
  clear: left;
}

.ghfl dt, .flt dt {
  font-size: 14px;
  font-weight: 700;
}

.ghfl dt span, .flt dt span, .flt dd span {
  font-size: 12px;
  font-weight: 200;
  color: #999;
}

.ghfl dd, .flt dd {
  line-height: 1.8em;
}

#fjump_menu {
  overflow-x: hidden;
  max-height: 600px;
}

#fjump_menu dl {
  width: 200px;
}

#fjump_menu dt {
  font-weight: 700;
}

#fjump_menu dd {
  text-indent: 1em;
}

#fjump_menu li.a a {
  background-color: #fbfbfb;
}

.frame, .frame-tab {
  margin-bottom: 0 !important;
  border: 0 !important;
  background: none !important;
}

.block {
  margin: 0 !important;
}

.bm_h {
  height: 41px;
}

.fl.bm {
  background: none;
  border: none;
}

#online.bm {
  background: none;
  border-color: #e5e5e5;
}

.fl .bm, #online.bm, #category_lk {
  margin-bottom: 15px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e5e5e5;
}

.bm .bm_h {
  position: relative;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #efefef;
  border-top: 0;
  background: url('http://cnnbuc.com/template/yunshan_aliyun/src/ext//tbg.gif'); // cnnbuc.com/template/yunshan_aliyun/src/ext//tbg.gif)
  repeat-x: 0 0;
}

.bm .bm_h h2, .bm_h h3 {
  font-size: 14px;
  color: #666;
  line-height: 41px;
}

.fl .bm_h h2 a, .bm_h h3 a {
  color: #666;
  font-weight: 200;
}

.fl .bm .bm_c h2 a, .fl .bm .bm_c dt a {
  font-size: 16px;
}

.fl .bm .bm_c .fl_i, .fl .bm .bm_c .fl_by, .fl .bm .bm_c dd {
  color: #999;
}
